@using ExternalPracFin.Models
@model DeleteModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("DeleteTheStudent", "Student"))
{
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        @Html.TextBoxFor(item => item.Id, new { Class = "w-100 form-control" })
        @Html.ValidationMessageFor(item => item.Id, "", new { Class = "text-danger" })
    </div>
    <br/>
    <button type="submit" class="btn btn-info w-100">Delete</button>
}






